@page
@model SacramentPlanner.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.WardName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.WardName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Conductor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Conductor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.OpeningHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.OpeningHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.OpeningPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.OpeningPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.SacramentHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.SacramentHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.RestHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.RestHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.SpecialMusicalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.SpecialMusicalNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.ClosingHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ClosingHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.ClosingPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ClosingPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.TalksList)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var talk in Model.Meeting.TalksList)
                {
                    <li>@talk.SpeakerName - @talk.Topic</li>
                }
            </ul>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Meeting.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
